<html lang="ja">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Style-Type" content="text/css">
<title>logirc</title>
<style>
<!--
* { margin : 0 ; padding : 0 ; }
body { width : 100% ; }
#my_navigation { float : left ; width : 10% ; }
#my_contents { float : left ; width : 80% ; }
div.line_0 { background-color : #FFF ; }
div.line_1 { background-color : #DDD ; }
span.logtype_title { color : #FFF ; background-color : #000 ; font-size : large ; }
span.logtype_system { color : #888 ; }
-->
</style>
<script type="text/javascript" src="js/jquery.js">
</script>
</head>

<body>
<div id="my_header"></div>
<div id="my_navigation">

<% @channels.each do |chname,h| %>
  <div name='channel_title'><%= chname %></div>
    <div name='channel_list'>
<%
  files_cnt = 0
  files_threshold = h["files_threshold"] ? h["files_threshold"] : 10
  have_more_files = false
  h["files"].each do |file|
    basename = File.basename(file)
    basename.slice!(0) # 先頭の「#」を削除
    basename.match(h["files_pat"])
    listname = $1 ? $1 : basename
%>
    <a href="/<%= basename %>"><%= listname %></a>|
<% 
    files_cnt = files_cnt + 1
    if files_cnt >= files_threshold
      if !have_more_files #表示は最初の1度だけ
%>
    <p class="entry-excerpt-link" id="<%= chname %>">
    <a href="JavaScript:void(0);" onclick="$('#<%= chname %>_more').show();$('#<%= chname %>').hide();return false;">more...</a></p>
    <div id="<%= chname %>_more" style="display:none">
<%
      end
      have_more_files = true
    end
  end
%>
<% if have_more_files %>
    <a href="JavaScript:void(0);" onclick="$('#<%= chname %>_more').hide();$('#<%= chname %>').show();return false;">close</a>
    </div>
<% end %>
  </div>
<% end %>
</div>
<div id="my_contents">
<% cnt = 0 %>
<% @logs.each_line do |l| %>
<div class="line_<%= cnt % 2 %>">
<span class="logtype_<%= LogLine.guess_type(l).to_s %>"><%= l %></span>
</div>
<% cnt = cnt + 1 %>
<% end %>
</div>
<div id="my_footer"></div>
</body>
</html>
